.top-news {
  // background-color: orange;
  margin-bottom: rem(112);
  @include mq("md") {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    // margin: 0 auto;
    margin-bottom: rem(174);
    // width: 100%;
    // max-width: rem(1280);
    // padding: rem(32) rem(119) rem(194);
    // padding: rem(32) rem(119) 0;
  }
}