/* FontFamily */
$base-font-family: 'Noto Sans JP', sans-serif;
$second-font-family: 'Noto Serif JP', serif;

body {
  font-family: $base-font-family;
}

/* font-weight */
$regular: 300;
$normal: 400;
$bold: 700;

/* font-weight of figma */
$figma-regular: 400;
$figma-medium: 500;
